body {
    margin: 0;
    overflow: hidden;
    background-color: yellowgreen;
}

canvas {
    display: block;
}

#infoCard{
    position: absolute;
    overflow: scroll;

    top: 1%;
    left: 1%;
    width: 25%; 
    height: 45%;

    opacity: 0.5;
}

#routeCard{
    position: absolute;

    top: 1%;
    right: 1%;
    width: 25%;
    height: 30%;

    opacity: 0.5;
}

#routeListBody{
    overflow-y: scroll;
}

#routeListCard{
    position: absolute;
    overflow-y: scroll;

    top: 32%;
    right: 1%;

    width: 25%;
    height: 56%;

    opacity: 0.5;
}

.routeOverflow{
    display: inline;
    overflow-x: scroll;
}

#airlinerCard{
    position: absolute;
    bottom: 1%;
    right: 1%;
    left: 1%;
    height: 8%;

    opacity: 0.5;
}


#airlinerName{
    display: inline;
}

#airlinerMoney{
    display: inline;
}